<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/events.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Events</title>    
</head>

<body  class="bg">
    <nav class="navbar nav-tabs navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/marketplace"><img class="mr-4" src="/logo-2.jpeg" width="70" height="70"/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link font1 mr-4" href="#"> Forum</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font1 mr-4" href="/marketplace">Market Place</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link font1 mr-4" href="/events">Events<span
                        class="sr-only">(current)</span></a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0 mr-2">
                <a href="/" class="btn btn-outline-danger my-2 my-sm-0" type="submit">Log out</a>
            </form>
        </div>
    </nav>
    
    
    <div >
        <div style="margin-top: 3%;">
            <h3 style="color:black"><b>Present Events</b></h3>
            <% if(pevents!=null) { %>
            
            <table class="table table-bordered" style="text-align: center;margin-left:auto;margin-right:auto;">
            <tr style="background-color: rgba(0, 0, 0, 0.801);color:white ;">
                <th>Event name</th>
                <th>Event date</th>
                <th>Registration end date</th>
                <th>Registration link</th>
            </tr>
            <% pevents.forEach(function(item){ %>
            <tr style="color:white ;background-color: rgba(0, 0, 0, 0.425);">
                <% if(item.event_status=="2"){ %>
                <td><%= item.event_name%></td>
                <td><%= item.event_date %></td>
                <td><%= item.registration_end_date%></td>
                <div >
                <td ><a style="color: white;" href=<%= item.registration_link %> >Click here</td>
                </div>
                <% } %>  
            </tr>
            <% }) %>
            </table>
            <% } %>
        </div>
        <br>
        <br>
        <div style="color:black">
            <h3><b>Upcoming Events</b></h3>
            <% if(pevents!=null) { %>
            
            <table class="table table-bordered" style="text-align: center;margin-left:auto;margin-right:auto;">
            <tr style="background-color: rgba(0, 0, 0, 0.801);color:white ;">
                <th>Event name</th>
                <th>Event date</th>
                <th>Registration end date</th>
                <th>Registration link</th>
            </tr>
            <% pevents.forEach(function(item){ %>
            <tr style="color:white;background-color: rgba(0, 0, 0, 0.425);">
                <% if(item.event_status=="3"){ %>
                <td><%= item.event_name%></td>
                <td><%= item.event_date %></td>
                <td><%= item.registration_end_date%></td>
                <td><%= item.registration_link %></td>
                <% } %>  
            </tr>
            <% }) %>
            </table>
            <% } %>
        </div>
    </div>
        <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="/scripts/controllers/marketplaceController.js" type="module"></script>
</body>
</html>